* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'naacc';
  src: url("../fonts/naacc.eot");
  src: url("../fonts/naacc.eot?#iefix") format("embedded-opentype"), url("../fonts/naacc.woff") format("woff"), url("../fonts/naacc.ttf") format("truetype"), url("../fonts/naacc.svg#naacc") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type="submit"] {
  background-color: #85cf66;
  border-radius: 6px;
  box-shadow: 0px 4px 0px 0px #799929;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  max-width: 200px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color: #1596c4;
  box-shadow: 0px 5px 0px 0px #932c38;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; }
  input[type="submit"]:hover {
    background-color: #62964d;
    box-shadow: 0 5px 0px 0px #799929;
    color: #fff;
    top: -2px; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }
  input[type="submit"]:hover {
    background-color: #0e7296;
    box-shadow: 0px 6px 0px 0px #932c38; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset; }

.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 25px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      color: #777777;
      font-size: .8em;
      padding: 6px; }

form small, form .description {
  color: #5f5f5f; }

.marker, .form-required {
  color: #cf4242; }

label, label.required {
  display: block;
  font-weight: 700; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid #ccc;
  border-radius: 3px;
  color: #999;
  margin: 10px 0;
  max-width: 100%;
  padding: 11px 15px 11px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.down-arrow:after {
  border: 5px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: " ";
  left: 5px;
  display: inline-block;
  position: relative;
  top: 2px; }

.show {
  display: block;
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.chosen-container-single .chosen-single {
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa inset;
  color: #aaa;
  font-size: 1.3em;
  padding: 15px 10px 39px; }

.chosen-container-single .chosen-single div b {
  background: none; }
.chosen-container-single .chosen-single div:after {
  border: 12px solid #686868;
  border-bottom-color: transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: " ";
  position: relative;
  right: 16px;
  top: -21px; }

.more-link {
  text-align: center; }
  .more-link a {
    color: #85cf66;
    text-decoration: none;
    text-transform: capitalize; }
    .more-link a:hover {
      color: #fff;
      text-decoration: underline; }

body {
  color: #777777;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 2em; }

/* Tables */
table, thead, td, tr, th {
  border: none; }

tr {
  border-bottom: 1px solid #ccc; }

td, th {
  padding: 7px 20px; }

.page, .page p {
  color: #777777;
  font: 1em/1.5em 'Esteban', serif; }

a {
  color: #ccc; }
  a:hover {
    color: #aaa; }

.page p {
  margin-bottom: 2em; }

h1, h2, h3, h4, h5, h6 {
  color: #777777;
  font: normal 1em 'Esteban', serif; }

h3, h4 {
  font: bold 1em Lato, sans-serif; }

h1 {
  color: #fff;
  font-size: 2.2em;
  margin: 7px 0 0.3824em; }

h2 {
  color: #0e7296;
  font-size: 2.2em;
  margin: 0 0 0.419em; }

h3 {
  color: #333333;
  font-size: 1.45em;
  margin: 0 0 1em;
  text-transform: uppercase; }

h4 {
  border-bottom: 1px solid #eaeaea;
  font-size: 1.45em;
  margin: 0 0 18px;
  padding-bottom: 12px; }

h5 {
  color: #1596c4;
  font-size: 1.45em;
  margin: 0 0 15px;
  padding-bottom: 10px; }

.page blockquote, blockquote {
  border-left: 3px solid #333;
  clear: both;
  color: #777777;
  position: relative;
  padding: 0 0 0 3%;
  margin: 3% 6% 5% 0; }
  .page blockquote p, blockquote p {
    color: #777777;
    font-weight: 700;
    margin: 0; }

.btn, button {
  background-color: #85cf66;
  border-radius: 6px;
  box-shadow: 0px 4px 0px 0px #799929;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  max-width: 200px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover, button:hover {
    background-color: #62964d;
    box-shadow: 0 5px 0px 0px #799929;
    color: #fff;
    top: -2px; }
  .btn:active, button:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }

.outline {
  background-color: transparent;
  border: 3px solid #85cf66;
  box-shadow: none;
  color: #85cf66;
  font-weight: 900;
  position: static;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .outline:hover {
    background-color: #85cf66;
    box-shadow: none;
    color: #fff; }

body:after {
  content: "mobile";
  visibility: hidden; }
  @media screen and (min-width: 1024px) {
    body:after {
      content: "desk";
      visibility: hidden; } }

.outer-container, footer {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  position: relative; }
  .outer-container:before, .outer-container:after, footer:before, footer:after {
    content: " ";
    display: table; }
  .outer-container:after, footer:after {
    clear: both; }
  @media screen and (min-width: 1024px) {
    .outer-container, footer {
      padding: 0; } }

header ul, header li, footer ul, footer li {
  list-style: none;
  margin: 0;
  padding: 0; }

header {
  background-color: #1596c4; }
  header .outer-container {
    padding: 0; }

#logo {
  background: url(../images/sprite.png) no-repeat scroll 0 0;
  background-position: 0 0;
  display: block;
  height: 0;
  overflow: hidden;
  background-image: url(../images/sprite-j.png);
  float: left;
  padding-top: 62px;
  width: 186px; }

#menu {
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font: 2em 'naacc';
  margin: 3%; }
  @media screen and (min-width: 768px) {
    #menu {
      display: none; } }

#block-system-main-menu {
  background-color: #333;
  clear: both;
  display: none;
  padding: 4%;
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    #block-system-main-menu {
      background-color: transparent;
      clear: none;
      display: block;
      float: right;
      margin: 1.4% 3%;
      padding: 0;
      position: static;
      width: auto; }
      #block-system-main-menu li {
        display: inline-block; }
        #block-system-main-menu li.last a {
          border: none; }
      #block-system-main-menu a {
        border-right: 1px solid #1388b1;
        display: block;
        padding: 0 18px; } }
  #block-system-main-menu.show {
    display: block;
    opacity: 1;
    visibility: visible; }
  #block-system-main-menu .expanded {
    position: relative; }
    #block-system-main-menu .expanded ul {
      display: none; }
      @media screen and (min-width: 1024px) {
        #block-system-main-menu .expanded ul {
          display: block;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          visibility: hidden; } }
    #block-system-main-menu .expanded.open ul {
      display: block;
      opacity: 1;
      visibility: visible; }
  #block-system-main-menu ul, #block-system-main-menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #block-system-main-menu a {
    color: #fff;
    font: 300 1em/1.5em 'Lato', sans-serif; }

#title-area {
  background-color: #53c7f2;
  padding: 10px 0; }
  #title-area a {
    display: none; }
    @media screen and (min-width: 768px) {
      #title-area a {
        display: block; } }

#main-content {
  margin: 25px 0;
  min-height: 300px; }
