* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'naacc';
  src: url("../fonts/naacc.eot");
  src: url("../fonts/naacc.eot?#iefix") format("embedded-opentype"), url("../fonts/naacc.woff") format("woff"), url("../fonts/naacc.ttf") format("truetype"), url("../fonts/naacc.svg#naacc") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type="submit"] {
  background-color: #85cf66;
  border-radius: 3px;
  box-shadow: 0px 5px 0px 0px #62964d;
  color: #fff;
  display: block;
  font: 500 1em 'Lato', sans-serif;
  letter-spacing: 1px;
  max-width: 250px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: #1596c4;
  box-shadow: 0px 5px 0px 0px #0e7296;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; }
  input[type="submit"]:hover {
    background-color: #62964d;
    box-shadow: 0 6px 0px 0px #447037;
    color: #fff;
    text-decoration: none;
    top: -2px; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }
  input[type="submit"]:hover {
    background-color: #0e7296;
    box-shadow: 0px 7px 0px 0px #005672; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset; }

.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 27px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      color: #777777;
      font-size: .8em;
      padding: 6px; }

form small, form .description {
  color: #5f5f5f;
  display: block; }

.marker, .form-required {
  color: #cf4242; }

label, label.required {
  color: #333;
  display: block;
  font: 900 12px 'Lato', sans-serif;
  margin: 20px 0 5px;
  text-transform: uppercase; }
  label.required, label.required.required {
    color: #cf4242; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  background-color: #f6f6f6;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -4px 0 #d1d1d1;
  color: #999;
  margin: 10px 0;
  max-width: 100%;
  padding: 11px 15px 11px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.down-arrow:after {
  border: 5px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: " ";
  left: 5px;
  display: inline-block;
  position: relative;
  top: 2px; }

.show {
  display: block;
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.chosen-container-single .chosen-single {
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa inset;
  color: #aaa;
  font-size: 1.3em;
  padding: 15px 10px 39px; }

.chosen-container-single .chosen-single div b {
  background: none; }
.chosen-container-single .chosen-single div:after {
  border: 12px solid #686868;
  border-bottom-color: transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: " ";
  position: relative;
  right: 16px;
  top: -21px; }

.more-link {
  text-align: center; }
  .more-link a {
    color: #85cf66;
    text-decoration: none;
    text-transform: capitalize; }
    .more-link a:hover {
      color: #fff;
      text-decoration: underline; }

body {
  color: #777777;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 2em; }

/* Tables */
table, thead, td, tr, th {
  border: none; }

tr {
  border-bottom: 1px solid #ccc; }

td, th {
  padding: 7px 20px; }

strong {
  color: #333; }

.page, .page p {
  color: #777777;
  font: 1em/1.5em 'Esteban', serif; }

a {
  color: #1596c4;
  text-decoration: none; }
  a:hover {
    color: #0e7296;
    text-decoration: underline; }

.page p {
  margin-bottom: 2.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #777777;
  font: normal 1em 'Esteban', serif; }

h3, h4 {
  font: bold 1em Lato, sans-serif; }

h1 {
  color: #fff;
  font-size: 2.2em;
  margin: 7px 0 0.3824em; }
  @media screen and (min-width: 768px) {
    h1 {
      float: left;
      width: 64%; } }
  @media screen and (min-width: 1024px) {
    h1 {
      width: 73%; } }

h2 {
  color: #0e7296;
  font-size: 2.2em;
  margin: 0 0 0.419em; }

h3 {
  color: #333333;
  font-size: 1.45em;
  margin: 0 0 .6em;
  text-transform: uppercase; }

h4 {
  border-bottom: 1px solid #ccc;
  font-size: 1.45em;
  margin: 0 0 18px;
  padding-bottom: 12px; }

h5 {
  color: #1596c4;
  font-size: 1.45em;
  margin: 0 0 15px;
  padding-bottom: 10px; }

.page blockquote, blockquote {
  border-left: 3px solid #333;
  clear: both;
  color: #777777;
  position: relative;
  padding: 0 0 0 3%;
  margin: 3% 6% 5% 0; }
  .page blockquote p, blockquote p {
    color: #777777;
    font-weight: 700;
    margin: 0; }

.btn, button {
  background-color: #85cf66;
  border-radius: 3px;
  box-shadow: 0px 5px 0px 0px #62964d;
  color: #fff;
  display: block;
  font: 500 1em 'Lato', sans-serif;
  letter-spacing: 1px;
  max-width: 250px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%; }
  .btn:hover, button:hover {
    background-color: #62964d;
    box-shadow: 0 6px 0px 0px #447037;
    color: #fff;
    text-decoration: none;
    top: -2px; }
  .btn:active, button:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }

.outline {
  background-color: transparent;
  border: 3px solid #85cf66;
  box-shadow: none;
  color: #85cf66;
  font-weight: 900;
  position: static;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .outline:hover {
    background-color: #85cf66;
    box-shadow: none;
    color: #fff; }

body:after {
  content: "mobile";
  visibility: hidden; }
  @media screen and (min-width: 1024px) {
    body:after {
      content: "desk";
      visibility: hidden; } }

.outer-container, footer {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  position: relative; }
  .outer-container:before, .outer-container:after, footer:before, footer:after {
    content: " ";
    display: table; }
  .outer-container:after, footer:after {
    clear: both; }
  @media screen and (min-width: 1024px) {
    .outer-container, footer {
      padding: 0; } }

header ul, header li, footer ul, footer li {
  list-style: none;
  margin: 0;
  padding: 0; }

header {
  background-color: #1596c4; }
  header .outer-container {
    padding: 0; }
  header ul, header li {
    list-style: none;
    margin: 0;
    padding: 0; }
  @media screen and (min-width: 768px) {
    header li {
      padding: 0 0 8px; } }
  header a {
    color: #fff;
    font: 300 1em/1em 'Lato', sans-serif; }
    header a:hover {
      color: #ccc;
      text-decoration: none; }

#logo {
  background: url(../images/sprite.png) no-repeat scroll 0 0;
  background-position: 0 0;
  display: block;
  height: 0;
  overflow: hidden;
  background-image: url(../images/sprite-j.png);
  float: left;
  padding-top: 62px;
  width: 186px; }

#menu {
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font: 2em 'naacc';
  padding: 3%; }
  @media screen and (min-width: 768px) {
    #menu {
      display: none; } }
  #menu.show {
    background-color: #333; }

#block-system-main-menu {
  background-color: #333;
  clear: both;
  display: none;
  padding: 4%;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    #block-system-main-menu {
      background-color: transparent;
      clear: none;
      display: block;
      float: right;
      margin: 1.2% 0 .8%;
      padding: 0;
      position: static;
      width: auto; }
      #block-system-main-menu li {
        display: inline-block; }
        #block-system-main-menu li.last a {
          border: none;
          padding: 7px 0 7px 18px; }
      #block-system-main-menu a {
        border-right: 1px solid #1388b1;
        display: block;
        padding: 7px 18px;
        position: relative;
        z-index: 2; } }
  #block-system-main-menu.show {
    display: block;
    opacity: 1;
    visibility: visible; }
  #block-system-main-menu .expanded {
    list-style: none;
    position: relative; }
    #block-system-main-menu .expanded ul {
      display: none; }
      @media screen and (min-width: 768px) {
        #block-system-main-menu .expanded ul {
          background-color: #333;
          border-bottom: 3px solid #444;
          border-radius: 5px;
          display: block;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 35px;
          visibility: hidden;
          z-index: 1;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          transition: all 0.5s; }
          #block-system-main-menu .expanded ul:before {
            border: 10px solid #333;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            content: " ";
            display: block;
            left: 50%;
            margin-left: -10px;
            position: absolute;
            top: -20px; } }
      @media screen and (min-width: 768px) {
        #block-system-main-menu .expanded ul a {
          padding: 7px 18px; } }
    #block-system-main-menu .expanded.open ul {
      display: block;
      margin-left: 10px;
      opacity: 1;
      visibility: visible; }
      @media screen and (min-width: 768px) {
        #block-system-main-menu .expanded.open ul {
          margin-left: 0;
          top: 38px; } }

#social {
  display: none; }
  @media screen and (min-width: 1024px) {
    #social {
      background-color: #128bb6;
      display: block;
      float: right;
      margin-left: 3%;
      padding: 1.4% 2% 0.8%;
      width: 16%; } }
  #social li {
    display: inline-block;
    margin: 0 5%; }
  #social .social {
    font: 1.3em "naacc";
    position: relative;
    top: 5px; }

#title-area {
  background-color: #53c7f2;
  padding: 10px 0; }
  #title-area a {
    display: none; }
    @media screen and (min-width: 768px) {
      #title-area a {
        display: block;
        float: right;
        margin: 1% 0; } }

#main-content {
  margin: 35px 0;
  min-height: 300px; }
  @media screen and (min-width: 1024px) {
    #main-content.with-side {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 65.95745%; }
      #main-content.with-side:last-child {
        margin-right: 0; } }

.sidebar {
  border-top: 1px solid #e4e4e4;
  padding-top: 20px; }
  @media screen and (min-width: 1024px) {
    .sidebar {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 31.91489%;
      border-top: none;
      border-left: 1px solid #e4e4e4;
      margin: 35px 0;
      min-height: 500px;
      padding-left: 3%;
      padding-top: 0; }
      .sidebar:last-child {
        margin-right: 0; } }
  .sidebar > div {
    font: .9em 'Lato', sans-serif;
    margin-bottom: 20px; }
    @media screen and (min-width: 1024px) {
      .sidebar > div {
        border-bottom: 1px solid #e5e5e5;
        padding: 0 12% 5% 0; }
        .sidebar > div:last-child {
          border-bottom: none; } }
    .sidebar > div p {
      margin: 0 0 .6em; }
  .sidebar h2 {
    color: #333;
    font: 700 1.2em 'Lato', sans-serif; }
  .sidebar h3 {
    font: 700 1.1em 'Lato', sans-serif;
    margin-bottom: 3px;
    text-transform: none; }
  .sidebar ul, .sidebar li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar li {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-top: 13px; }
    .sidebar li:first-child {
      border: none; }

#block-views-events-events-sidebar > ul li:before {
  color: #e9e8e8;
  content: "c";
  display: block;
  float: left;
  font: 2.5em "naacc";
  margin-right: 5%; }
#block-views-events-events-sidebar .views-field-field-date {
  font-size: .9em; }
