* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'seedco';
  src: url("../fonts/seedco.eot");
  src: url("../fonts/seedco.eot?#iefix") format("embedded-opentype"), url("../fonts/seedco.woff") format("woff"), url("../fonts/seedco.ttf") format("truetype"), url("../fonts/seedco.svg#seedco") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type="submit"] {
  background-color: #a7cd39;
  border-radius: 6px;
  box-shadow: 0px 4px 0px 0px #799929;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  max-width: 200px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color: #c43e4e;
  box-shadow: 0px 5px 0px 0px #932c38;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; }
  input[type="submit"]:hover {
    box-shadow: 0 5px 0px 0px #799929;
    color: #fff;
    top: -2px; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }
  input[type="submit"]:hover {
    box-shadow: 0px 6px 0px 0px #932c38; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset; }

.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 25px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      color: #333333;
      font-size: .8em;
      padding: 6px; }

form small, form .description {
  color: #5f5f5f; }

.marker, .form-required {
  color: #cf4242; }

label, label.required {
  display: block;
  font-weight: 700; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid #ccc;
  border-radius: 3px;
  color: #999;
  margin: 10px 0;
  max-width: 100%;
  padding: 11px 15px 11px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.down-arrow:after {
  border: 5px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: " ";
  left: 5px;
  display: inline-block;
  position: relative;
  top: 2px; }

.show {
  display: block !important;
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.chosen-container-single .chosen-single {
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa inset;
  color: #aaa;
  font-size: 1.3em;
  padding: 15px 10px 39px; }

.chosen-container-single .chosen-single div b {
  background: none; }
.chosen-container-single .chosen-single div:after {
  border: 12px solid #686868;
  border-bottom-color: transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: " ";
  position: relative;
  right: 16px;
  top: -21px; }

.more-link {
  text-align: center; }
  .more-link a {
    color: #a7cd39;
    text-decoration: none;
    text-transform: capitalize; }
    .more-link a:hover {
      color: #fff;
      text-decoration: underline; }

.page-wrap {
  background: url(../images/gen_interior.jpg) no-repeat scroll 0 0;
  background-size: contain; }
  @media screen and (min-width: 768px) {
    .page-wrap {
      min-height: 777px; } }

#main-wrap {
  background-color: #fff;
  margin-top: 50px; }
  @media screen and (min-width: 768px) {
    #main-wrap {
      background-color: #f7f7f7;
      border-bottom: 2px solid #ededee;
      border-radius: 5px;
      overflow: hidden; } }

.sidebar, .with-side {
  padding: 25px; }
  @media screen and (min-width: 768px) {
    .sidebar, .with-side {
      display: block;
      float: left;
      margin-right: 1.05263%;
      width: 28.42105%;
      margin-right: 0;
      border-radius: 5px 0 0 5px; }
      .sidebar:last-child, .with-side:last-child {
        margin-right: 0; } }

#main-content {
  background-color: #fff;
  padding: 20px 25px; }

@media screen and (min-width: 768px) {
  .with-side {
    display: block;
    float: left;
    margin-right: 1.05263%;
    width: 71.36842%;
    border-radius: 0 5px 5px 0;
    min-height: 750px; }
    .with-side:last-child {
      margin-right: 0; } }

h1 {
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 27px;
  padding-bottom: 12px; }

#block-views-users-block-1 .view-header ul {
  list-style: none;
  margin: 0;
  padding: 0; }
#block-views-users-block-1 .view-header li {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 12px;
  padding-bottom: 12px; }
#block-views-users-block-1 .view-header li a {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none; }
  #block-views-users-block-1 .view-header li a:hover {
    color: #666666; }
  #block-views-users-block-1 .view-header li a:before {
    color: #a7cd39;
    content: "e";
    display: block;
    float: left;
    font: 1.2em seedco;
    margin: 5px 10px 0 0; }
#block-views-users-block-1 .view-header li + li a:before {
  content: "n"; }
#block-views-users-block-1 .view-header li + li + li {
  border-bottom: none; }
  #block-views-users-block-1 .view-header li + li + li a:before {
    content: "G"; }
#block-views-users-block-1 .field-type-image {
  float: left;
  margin-right: 3%;
  width: 33%; }
  #block-views-users-block-1 .field-type-image img {
    border: 4px solid #dcdcdc;
    border-radius: 52px;
    display: block; }
#block-views-users-block-1 h2 {
  float: left;
  font: 600 1.2em/1em 'Open Sans', sans-serif;
  margin: 10px 0 4px; }
#block-views-users-block-1 .views-field-mail, #block-views-users-block-1 .field-type-phone {
  color: #8a8a8a;
  float: left;
  font: .85em 'Open Sans', sans-serif;
  width: 57%; }
  #block-views-users-block-1 .views-field-mail a, #block-views-users-block-1 .field-type-phone a {
    color: #8a8a8a;
    text-decoration: none; }

.sidebar .btn, .sidebar input[type="submit"] {
  text-align: center;
  max-width: none;
  width: 100%; }
