* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'seedco';
  src: url("../fonts/seedco.eot");
  src: url("../fonts/seedco.eot?#iefix") format("embedded-opentype"), url("../fonts/seedco.woff") format("woff"), url("../fonts/seedco.ttf") format("truetype"), url("../fonts/seedco.svg#seedco") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type="submit"] {
  background-color: #a7cd39;
  border-radius: 6px;
  box-shadow: 0px 4px 0px 0px #799929;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  max-width: 200px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color: #c43e4e;
  box-shadow: 0px 5px 0px 0px #932c38;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; }
  input[type="submit"]:hover {
    box-shadow: 0 5px 0px 0px #799929;
    color: #fff;
    top: -2px; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }
  input[type="submit"]:hover {
    box-shadow: 0px 6px 0px 0px #932c38; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset; }

.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 25px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      color: #333333;
      font-size: .8em;
      padding: 6px; }

form small, form .description {
  color: #5f5f5f; }

.marker, .form-required {
  color: #cf4242; }

label, label.required {
  display: block;
  font-weight: 700; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid #ccc;
  border-radius: 3px;
  color: #999;
  margin: 10px 0;
  max-width: 100%;
  padding: 11px 15px 11px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.down-arrow:after {
  border: 5px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: " ";
  left: 5px;
  display: inline-block;
  position: relative;
  top: 2px; }

.show {
  display: block !important;
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.chosen-container-single .chosen-single {
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa inset;
  color: #aaa;
  font-size: 1.3em;
  padding: 15px 10px 39px; }

.chosen-container-single .chosen-single div b {
  background: none; }
.chosen-container-single .chosen-single div:after {
  border: 12px solid #686868;
  border-bottom-color: transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: " ";
  position: relative;
  right: 16px;
  top: -21px; }

.more-link {
  text-align: center; }
  .more-link a {
    color: #a7cd39;
    text-decoration: none;
    text-transform: capitalize; }
    .more-link a:hover {
      color: #fff;
      text-decoration: underline; }

@media screen and (max-width: 768px) {
  #edit-persistent-login {
    display: block;
    margin-left: 15px; } }
@media screen and (min-width: 768px) {
  #edit-persistent-login {
    position: relative;
    left: -135px; } }

label[for="edit-persistent-login"] {
  left: -72px;
  margin-top: -22px;
  position: relative; }
  @media screen and (min-width: 768px) {
    label[for="edit-persistent-login"] {
      margin-top: -28px; } }

.page-user .page-wrap {
  background: url(../images/checkout.jpg) no-repeat scroll 0 0;
  padding: 3% 5% 3% 0%; }
  @media screen and (min-width: 1024px) {
    .page-user .page-wrap {
      padding: 3% 0; } }

#main-wrap, #main-content {
  background: none;
  border: none;
  padding: 0; }

.toboggan-unified.login,
.toboggan-unified.password,
.toboggan-unified.register {
  background: white;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 329px; }
  @media screen and (min-width: 768px) {
    .toboggan-unified.login,
    .toboggan-unified.password,
    .toboggan-unified.register {
      float: right;
      margin: 0;
      width: 50%; } }
  .toboggan-unified.login label,
  .toboggan-unified.password label,
  .toboggan-unified.register label {
    height: 8px; }
    .toboggan-unified.login label:after,
    .toboggan-unified.password label:after,
    .toboggan-unified.register label:after {
      float: right; }
  .toboggan-unified.login small,
  .toboggan-unified.password small,
  .toboggan-unified.register small {
    display: none; }
  .toboggan-unified.login #login-form,
  .toboggan-unified.login #register-form,
  .toboggan-unified.login #password-form,
  .toboggan-unified.password #login-form,
  .toboggan-unified.password #register-form,
  .toboggan-unified.password #password-form,
  .toboggan-unified.register #login-form,
  .toboggan-unified.register #register-form,
  .toboggan-unified.register #password-form {
    margin-top: -25px; }
  .toboggan-unified.login #edit-submit,
  .toboggan-unified.login #edit-submit--2,
  .toboggan-unified.login #edit-submit--3,
  .toboggan-unified.password #edit-submit,
  .toboggan-unified.password #edit-submit--2,
  .toboggan-unified.password #edit-submit--3,
  .toboggan-unified.register #edit-submit,
  .toboggan-unified.register #edit-submit--2,
  .toboggan-unified.register #edit-submit--3 {
    margin: 0 auto;
    position: relative;
    top: 10px;
    max-width: 284px; }

#password-form small {
  display: block; }

input.password-confirm,
input.password-field {
  width: 284px;
  margin-bottom: 0.4em; }

div.password-confirm {
  margin-top: 3.5em;
  visibility: hidden;
  width: 285px;
  clear: both;
  display: block !important;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  visibility: visible !important; }

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 100%;
  margin-top: -35px; }

.password-strength {
  float: none;
  width: 284px;
  position: relative;
  top: 5.4em;
  margin: 0 auto; }

.password-strength-text {
  float: right;
  font-weight: bold; }

.password-strength-title {
  float: left; }

#login-links a.lt-active,
#login-links a.lt-active:hover {
  padding: 0em;
  border: none;
  border-radius: 6px;
  background-color: #a7cd39;
  box-shadow: 0px 5px 0px 0px #566b19;
  color: #fff; }

#login-links {
  margin: -10px auto 10px auto;
  width: 329px; }
  @media screen and (min-width: 768px) {
    #login-links {
      float: right;
      margin-right: 20px;
      width: 222px; } }
  #login-links.left {
    display: block; }
    @media screen and (min-width: 768px) {
      #login-links.left {
        display: none; } }
  #login-links.right {
    display: none; }
    @media screen and (min-width: 768px) {
      #login-links.right {
        display: block; } }

#login-links a {
  background: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 0px 0px #666;
  color: #666666;
  display: block;
  font-family: 'Lato';
  font-size: 1.2em;
  line-height: 2.7em;
  margin-top: 10px;
  padding: 0em;
  text-align: center;
  text-decoration: none; }

#login-links a:hover {
  background-color: #a7cd39;
  box-shadow: 0px 5px 0px 0px #566b19;
  border-radius: 6px;
  color: white; }

.hybridauth-google-seedco-284 {
  background-image: url(../images/google.png); }

.hybridauth-facebook-seedco-284 {
  background-image: url(../images/facebook.png); }

.hybridauth-twitter-seedco-284 {
  background-image: url(../images/twitter.png); }
