* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'naacc';
  src: url("../fonts/naacc.eot");
  src: url("../fonts/naacc.eot?#iefix") format("embedded-opentype"), url("../fonts/naacc.woff") format("woff"), url("../fonts/naacc.ttf") format("truetype"), url("../fonts/naacc.svg#naacc") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type="submit"] {
  background-color: #85cf66;
  border-radius: 3px;
  box-shadow: 0px 5px 0px 0px #62964d;
  color: #fff;
  display: block;
  font: 500 1em 'Lato', sans-serif;
  letter-spacing: 1px;
  max-width: 250px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: #1596c4;
  box-shadow: 0px 5px 0px 0px #0e7296;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; }
  input[type="submit"]:hover {
    background-color: #62964d;
    box-shadow: 0 6px 0px 0px #447037;
    color: #fff;
    text-decoration: none;
    top: -2px; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }
  input[type="submit"]:hover {
    background-color: #0e7296;
    box-shadow: 0px 7px 0px 0px #005672; }
  input[type="submit"]:active {
    box-shadow: 0px 0px 4px #7f7f7f inset; }

.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 27px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      color: #777777;
      font-size: .8em;
      padding: 6px; }

form small, form .description {
  color: #5f5f5f;
  display: block; }

.marker, .form-required {
  color: #cf4242; }

label, label.required {
  color: #333;
  display: block;
  font: 900 12px 'Lato', sans-serif;
  margin: 20px 0 5px;
  text-transform: uppercase; }
  label.required, label.required.required {
    color: #cf4242; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  background-color: #f6f6f6;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -4px 0 #d1d1d1;
  color: #999;
  margin: 10px 0;
  max-width: 100%;
  padding: 11px 15px 11px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.down-arrow:after {
  border: 5px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: " ";
  left: 5px;
  display: inline-block;
  position: relative;
  top: 2px; }

.show {
  display: block;
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.chosen-container-single .chosen-single {
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa inset;
  color: #aaa;
  font-size: 1.3em;
  margin-top: 5px;
  padding: 11px 11px 34px; }

.chosen-container-single .chosen-single div b {
  background: none; }
.chosen-container-single .chosen-single div:after {
  border: 12px solid #1596c4;
  border-bottom-color: transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: " ";
  position: relative;
  right: 16px;
  top: -17px; }

.back-link {
  background-color: #85cf66;
  border-radius: 3px;
  box-shadow: 0px 5px 0px 0px #62964d;
  color: #fff;
  display: block;
  font: 500 1em 'Lato', sans-serif;
  letter-spacing: 1px;
  max-width: 250px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 20px 0; }
  .back-link:hover {
    background-color: #62964d;
    box-shadow: 0 6px 0px 0px #447037;
    color: #fff;
    text-decoration: none;
    top: -2px; }
  .back-link:active {
    box-shadow: 0px 0px 4px #7f7f7f inset;
    top: 0; }

@media screen and (min-width: 768px) {
  .profile-title {
    float: left;
    width: 64%; } }
@media screen and (min-width: 1024px) {
  .profile-title {
    width: 73%; } }
.profile-title h2 {
  color: #fff;
  float: left;
  font-size: 2.2em;
  margin: 7px 0 0.3824em; }

#title-area #counselors {
  border-left: 1px solid #49afd5;
  display: block;
  float: left;
  margin: 3% 2%;
  padding-left: 2%; }

h1 {
  color: #0e7296;
  font-size: 2em;
  width: auto; }
  @media screen and (min-width: 1024px) {
    h1 {
      float: left; } }

.profile {
  font-size: .95em;
  margin-top: 0; }

.group-title-section {
  overflow: hidden; }

.field-name-field-title {
  color: #1596c4;
  float: left;
  font: 1em 'Lato', sans-serif;
  margin: 3.5% 1%; }

.field-name-field-image {
  clear: both;
  float: left;
  margin-right: 2%; }
  .field-name-field-image img {
    border: 5px solid #dfdfdf;
    display: block; }

.field-name-field-specialties .field-item {
  display: inline-block; }
  .field-name-field-specialties .field-item:after {
    color: #000;
    content: "/";
    display: inline;
    margin: 0 3%; }

label {
  margin-top: 15px; }

.field-name-field-bio {
  margin-top: 20px; }
