@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

// Font Usage
// font-family: 'Lato', sans-serif;

@include editorstyles;
//
//  Layout & General
//
body {
  &:after {
      content: "mobile";
      visibility: hidden;
    @include desk {
      content: "desk";
      visibility: hidden;
    }
  }
}
header, .page, footer, .full {
  @include outer-container;
  position: relative;
}
header, footer {
  ul, li {
    list-style: none;
    margin: 0;
    padding:0;
  }
}
//
// Header
//
#block-system-main-menu {
  .expanded {
    position:relative;
    ul {
      display: none;
      @include desk {
        display: block;
        left: 0;
        opacity: 0;
        position: absolute;
        top:0;
        visibility: hidden;
      }
    }
    &.open ul {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}

//
// Content
//
#main-content {
  min-height: 300px;
}

// Sidebar

//
// Footer
//
