@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

// Font Usage
// font-family: 'Esteban', serif;
// font-family: 'Lato', sans-serif;

@include editorstyles;
//
//  Layout & General
//
.outer-container, footer {
  @include outer-container;
  padding:0 4%;
  position: relative;
  @include desk {
    padding:0;
  }
}
header, footer {
  ul, li {
    list-style: none;
    margin: 0;
    padding:0;
  }
}
//
// Header
//
header {
  background-color: $blue;
  position: relative;
  z-index: 2;
  .outer-container {
    padding:0;
    @include tablet {
      padding:0 4% 0 0;
    }
    @include desk {
      padding:0;
    }
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding:0;
  }
  li.expanded {
    @include tablet {
      padding-bottom:8px;
    }
  }
  a {
    color: #fff;
    font: 300 1em/1em 'Lato', sans-serif;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}
#logo {
  @include sprite(0 0);
  background-image:url(../images/sprite-j.png);
  float: left;
  padding-top: 62px;
  width: 186px;
}
#menu {
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font: 2em 'naacc';
  padding: 12px;
  @include tablet {
    display: none;
  }
  &.show {
    background-color:#333;
  }
}
#block-system-main-menu {
  background-color:#333;
  clear: both;
  display: none;
  padding:4%;
  position: absolute;
  top:56px;
  left: 0;
  width: 100%;
  z-index: 1;
  @include tablet {
    background-color:transparent;
    clear: none;
    display: block;
    float: right;
    margin: 1.2% 0 .8%;
    padding:0;
    position: static;
    width: auto;
    li {
      display: inline-block;
      & a[href="/contact"], & #last-link {
        border:none;
        padding: 7px 0 7px 18px;
      }
      &.last {
        display: none;
      }
    }
    a {
      border-right:1px solid #1388b1;
      display: block;
      padding:7px 18px;
      position: relative;
      z-index: 2;
    }
  }
  &.show {
    @include show;
  }
  .expanded {
    list-style: none;
    position:relative;
    ul {
      display: none;
      @include tablet {
        background-color:#333;
        border-bottom: 3px solid #444;
        border-radius:5px;
        display: block;
        left: -10px;
        opacity: 0;
        position: absolute;
        top:35px;
        visibility: hidden;
        z-index: 1;
        @include transition(all .5s);
        &:before {
          border:10px solid #333;
          border-left-color:transparent;
          border-right-color:transparent;
          border-top-color:transparent;
          content: " ";
          display: block;
          left: 50%;
          margin-left: -10px;
          position: absolute;
          top:-20px;
        }
      }
      a {
        border-right:none;
        @include tablet {
          padding:7px 18px;
        }
      }
      .last {
        display: inline-block;
      }
    }
    &.open ul {
      display: block;
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      @include tablet {
        margin-left: 0;
        top:38px;
      }
    }
  }
}
#social {
  display: none;
  @include desk {
    background-color:#128bb6;
    display: block;
    float: right;
    margin-left: 3%;
    padding:1.5% 2%;
    width: 16%;
  }
  li {
    display: inline-block;
    margin: 0 5%;
  }
  .social {
    font: 1.3em "naacc";
    position: relative;
    top: 5px;
    @include desklg {
      top:4px;
    }
  }
  .logout {
    display: none;
  }
}
.logged-in #social {
  width: 17%;
  li:first-child {
    display: none;
  }
  .logout {
    display: inline-block;
  }
}
//
// Content
//
// Pre-Content
#views-exposed-form-members-page .views-exposed-widget.views-submit-button {
  margin: 5% 0;
  padding: 0;
  position: relative;
  @include tablet {
    width: 45px;
  }
  input {
    font: 1.2em 'naacc';
  }
  .ajax-progress {
  display: block;
    position: absolute;
    right: -22px;
    top: 23px;
    .throbber {
      background:url(../images/ajax-loader.gif) no-repeat scroll 0 0;
    }
  }
}
#pre-content {
  position: relative;
  text-align: center;
  z-index: 10;
  @include desk {
    margin-top: -25px;
    text-align: left;
  }
  .outer-container {
    background-color:#f4be69;
    border-bottom: 6px solid #c79d56;
    color: #fff;
    padding:2% 9%;
    @include tablet {
      padding:2% 3%;
    }
    @include desk {
      border-radius:6px;
    }
  }
  h2 {
    color: #fff;
    font: 900 1.5em 'Lato', sans-serif;
    margin-bottom: 3px;
  }
  p {
    line-height: 1.4em;
    margin: 0;
  }
  .chosen-single {
    text-align: left;
  }
  label {
    color: #fff;
    margin: 8px 0 3px;
  }
  .chosen-results {
    color: $base;
    text-align: left;
  }
  #edit-field-city-value {
    width: 215px;
  }
  #edit-field-specialties-value {
    width: 215px;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding:0;
    margin-right: 1%;
    @include tablet {
      float: left;
    }
  }
  .views-exposed-form .views-submit-button {
    margin: 22px 57px;
    @include tablet {
      margin: 22px 0;
    }
  }
}
#block-views-exp-members-page {
  margin: 20px 0;
  @include tablet {
    margin: 20px auto;
    width: 503px;
  }
  @include desk {
    margin: 0;
    width: auto;
  }
}

#block-block-2 {
  @include desk {
    float: left;
    margin-right: 3%;
    width: 40%;
  }
}

// Main Content
#title-area {
  background-color: #53c7f2;
  padding:10px 0;
  a {
    display: none;
    @include tablet {
      display: block;
      float: right;
      margin:1% 0;
    }
  }
}
#main-content {
  margin: 35px 0;
  @include tablet {
    min-height: 300px;
  }
  &.with-side {
    @include desk {
      @include span-columns(8);
    }
  }
  .item-list {
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    h2 {
      @include smalltitle;
    }
  }
}

// Sidebar
.sidebar {
  border-top:1px solid #e4e4e4;
  padding-top: 20px;
  @include desk {
    @include span-columns(4);
    border-top:none;
    border-left:1px solid #e4e4e4;
    margin: 35px 0;
    min-height: 500px;
    padding-left:3%;
    padding-top: 0;
  }
  > div {
    font: .9em 'Lato', sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
    @include tablet {
      float: left;
      margin-right: 1%;
      width: 49%;
    }
    @include desk {
      border-bottom:1px solid #e5e5e5;
      float: none;
      margin-right: 0;
      padding:0 12% 5% 0;
      width: auto;
      &:last-child {
        border-bottom:none;
      }
    }
    p {
      margin: 0 0 .6em;
    }
  }
  h2 {
    color: #333;
    font: 700 1.2em 'Lato', sans-serif;
  }
  h3 {
    font: 700 1.1em 'Lato', sans-serif;
    margin-bottom: 3px;
    text-transform: none;
  }
  ul, li {
    list-style:none;
    margin: 0;
    padding:0;
  }
  li {
    border-top:1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-top:13px;
    &:first-child {
      border:none;
    }
  }
}
#block-views-events-events-sidebar {
  > ul li {
    &:before {
      color: #e9e8e8;
      content: "c";
      display: block;
      float: left;
      font: 2.5em "naacc";
      margin-right: 5%;
    }
  }
  .views-field-field-date {
    font-size: .9em;
  }
}

//
// Footer
//
footer {
  border-top: 1px solid #e0e0e0;
  color: #999;
  font-size: .9em;
  min-height: 110px;
  padding-top: 20px;
  ul {
    @include desk {
      float: left;
    }
  }
  li {
    display: inline-block;
    list-style:none;
    padding: 0;
    &.expanded {
      padding:0;
      ul {
        display: none;
      }
    }
    &:after {
      content: "/";
    }
    &.last:after {
      content: "";
    }
  }
  a {
    color: #999;
    font: 1em 'Lato', sans-serif;
    padding:0 4px;
    &.active {
      color: #6f6f6f;
    }
  }
  p {
    @include desk {
      float:right;
      margin: 0;
    }
  }
}

//
// Specific Sections
//

// News
.news {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 50px;
  }
}
.node-news-article.node-teaser {
  position: relative;
  h2 a {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: .6em;
    margin-bottom: 22px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 10px;
  }
}
.field-name-field-tags .field-item {
  display: inline-block;
  margin: 0 7px 0 0;
}
.inline .node-readmore {
  display: none;
  padding:0;
  @include tablet {
    display: block;
    margin-top: 10px;
  }
  a {
    font:.9em 'Lato', sans-serif;
    text-transform: capitalize;
    &:after {
      content: "»";
      margin-left:3px;
    }
  }
}

// Mailing list
#mailchimp-lists-user-subscribe-form-general-signup label {
  display: none;
}

// Checkout
.views-field-edit-quantity input[type="text"] {
  width: 70px;
}
.commerce-line-item-views-form table {
  margin-bottom: 10px;
}
.commerce-line-item-actions {
  input {
    float: left;
    & + input {
      float: right;
    }
  }
  #edit-submit {
    background:none;
    box-shadow: none;
    color: $base;
    padding:0;
    position: static;
    text-align:left;
    &:hover {
      color: #333;
    }
  }
}
.checkout-continue {
  float: right;
  & + span + span {
    display: none;
  }
}
#edit-buttons .checkout-cancel {
  background:none;
  box-shadow: none;
  color: $base;
  float: left;
  margin: 20px 10px;
  padding:0;
  position: static;
  text-align:left;
  &:hover {
    color: #333;
  }
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  color:#333;
  width: 100%;
}
#user_user_form_group_member_info {
  border: none;
  legend {
    display: none;
  }
}
#multiselect_btns_field_specialties + div label {
  display: none;
}
.commerce-credit-card-expiration {
  overflow: hidden;
  position: relative;
  padding: 45px 0 0;
  & > div, & > span {
    display: inline-block;
    margin-left: 2px;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
  }
}
#edit-commerce-payment-payment-method {
  display: none;
}

// Sponsors
.page-sponsors #main-content {
  .item-list {
    margin-bottom: 30px;
  }
  ul, li {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 5% 5% 0;
    max-width: 220px;
  }
}
.views-field-field-sponsor-photo a {
  display:block;
  position:relative;
}

// Events
.openlayers-views-map {
  border: none;
  float: none;
  margin: 0;
}
.node-event .view-map {
  border: 3px solid #eee;
  float: right;
  margin: 0 0 1% 2%;
}
#node_event_full_group_left_content_group {
  float: left;
  width: 48%;
}

// User Edit
#edit-field-memberships-purchased-need {
  display: none;
}
/* Profile Photo Upload */
.focus-box {
  margin-top: 20px;
}
div.image-widget-data, .imagefield-focus.focus-box {
  clear: both;
}
#edit-field-image {
    position: relative;
    small {
      display: none;
      position: absolute;
      width: 80%;
      margin-right: 0;
      top: 0;
      left: 85%;
      border: 2px solid;
      padding: 2%;
      @include desk {
        display: block;
      }
      img {
        display: block;
        margin-top: 10px;
        max-width: 100%;
        border: 2px solid #eee;
    }
  }
}
